<div class="container">
  <div class="row"> 
    <div class="responsive">
      <div class="container col-sm-12 col-lg-12">
        <table class="all_list" align="center">
        <h1 style="margin-bottom:25pt display: inline-block">Groups</h1>
        <a href="/admin/add_group" style="display:inline-block; float:right">Add Group</a>
        <tr>
          <th>Batch</th>
          <th>Group Name</th>
          <th>Adviser</th>
          <th>Action</th>
        </tr>
        {{#each rows}}
        <tr>
          <td>{{this.batch}}</td>
          <td>{{this.group_name}}</td>
          <td>{{this.adviser_name}}</td>
          <td><a href="admin/add_group{{this.id}}">See More</a></td>
        </tr>
        {{/each}}
        </table>
       </div>
    </div>    
  </div>
</div>
