<div class="container">
  <div class="row"> 
    <div class="responsive">
      <div class="container col-sm-12 col-lg-12">
        <table class="all_list" align="center">
        <h1 style="margin-bottom:25pt display: inline-block">My Classes</h1>
        <tr>
          <th>Batch</th>
          <th>Section</th>
          <th>Action</th>
        </tr>
        {{#each classes}}
        <tr>
          <td>{{this.batch}}</td>
          <td>{{this.section}}</td>
          <td><a href="/faculty/class/{{this.id}}">See More</a></td>
        </tr>
        {{/each}}
        </table>
       </div>
    </div>
  </div>
</div>