<div class="container-fluid" style="padding: 20px 20px">
  <div class="student_add_list_header">
    <h3 style="display: inline-block">ADD THESIS PROPOSAL</h3>
    <a href="/student/thesis" style="display:inline-block; float:right"><button class="btn btn-sm ml-auto">&laquo;&ensp;Go back</button></a>
  </div>
  <div class="student_add_thesis_form">
    <form method="POST" action="/student/add_thesis">
      <div class="row">
        <h4 style="padding: 5px 10px"></h4>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label>Thesis Title</label>
          <input type="text" name="" class="form-control" placeholder="" required="">
        </div>

        <div class="form-group col-md-8">
      <label> Description</label>
      <textarea class="form-control" rows="10" id=""></textarea>
    </div>

    <div class="row">
        <div class="col-md-8">
          <input class="btn btn-md" type="submit" name="save" value="Add"> 
        </div>
      </div>
      </div>
    </form>
  </div>
</div>