<div class="container">
  <div class="row"> 
    <div class="responsive">
      <div class="container col-sm-12 col-lg-12">
        <table class="all_list" align="center">
        <h1 class="center" style="margin-bottom:25pt display: inline-block">Proposal List</h1>
        <a href="/student/add_thesis" style="display:inline-block; float:right;">Add Proposal</a>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
        {{#each thesis}}
        <tr>
          <td>{{this.title}}</td>
          <td><a href="/student/thesis{{thesis.id}}">See More</a>
        </tr>
        {{/each}}
        </table>
       </div>
    </div>
  </div>
</div>
